.home {
  margin: auto;
}

.activities {
  flex-wrap: wrap;
}

.mb-60 {
  margin-bottom: 60px;
}

.flex-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .actions {
    margin-bottom: 20px;
    margin-right: 10px;

    @media (max-width: 500px) {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      margin-right: 10px;

      .el-button {
        margin: 0;
      }

    }
  }
}
