.home {
  margin: auto;
}

.activities {
  flex-wrap: wrap;
}

.flex-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .actions {
    margin-bottom: 20px;
    margin-right: 10px;

  }
}
